.errorContainer {
  position: relative;
  border: 3px solid red;
  background: #000;
  padding: 2%;
}

.errorContainerTitle {
  color: white;
}

.errorContainerMessage {
  color: #e21a2a;
  font-size: 1em;
}