@import '../../../shared/styles/mixins.scss';

.exchangeForm {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 5%;
}

.formContent {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  margin-bottom: 5%;

  @include tablets() {
    justify-content: center;
  }
}

.exchangeSelectContainer {
  display: flex;
  align-items: center;
}

.amountContainer {
  display: flex;
  justify-content: space-between;
}

.exchangeFormError {
  color: black;
  height: 50px;
  text-align: center;
}